div{
    color: black;
}
.stApp > div {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    
}

footer, .stDeployButton, #MainMenu {
    visibility: hidden !important;
}
.st-key-email{
    border: 2px solid black;
    border-radius: 10px;
}
.st-key-password{
    border: 2px solid black;
    border-radius: 10px;
}
.st-key-login button{
    background-color: #e8ca53;
    border-radius: 10px;
    color: white;                
    font-size: 20px;               
    font-weight: 600;
    padding: 12px 0;               
    width: 100%;                   
    text-align: center;
    border: none;

}

.login-title {
    margin-top: 5rem;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.left-column{
    margin-top: 6rem;
}
.tutorial a {
    color: yellow;
}
